<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Connected users:<span id="count"></span> </h5>
                <p class="card-text">received from websocket: <span id="ws"></span></p>
                <p class="card-text">mouse position : <span id="mp"></span></p>
            </div>
        </div>
    </div>
</div>